In [2]:
## importing necessary packages
import pandas

In [3]:
## Making a dataframe for the dataset

df = pandas.read_csv('video_corpus.csv')
df = df[['VideoID','Start','End','Language','Description']]
df = df.loc[df['Language'] == 'English']
print(df)

            VideoID  Start  End Language  \
18      mv89psg6zh4     33   46  English
19      mv89psg6zh4     33   46  English
20      mv89psg6zh4     33   46  English
21      mv89psg6zh4     33   46  English
22      mv89psg6zh4     33   46  English
...             ...    ...  ...      ...
122597  m7x8uIdg2XU     67   73  English
122598  m7x8uIdg2XU     67   73  English
122599  m7x8uIdg2XU     67   73  English
122600  m7x8uIdg2XU     67   73  English
122601  m7x8uIdg2XU     67   73  English

                                              Description
18      A bird in a sink keeps getting under the runni...
19                           A bird is bathing in a sink.
20      A bird is splashing around under a running fau...
21                           A bird is bathing in a sink.
22      A bird is standing in a sink drinking water th...
...                                                   ...
122597               Milk being poured to a bowl of pasta
122598                      the girls are mixing the milk
122599         The lady added a cream sauce to the pasta.
122600                       women are cooking her kichen
122601         The woman is pouring cream over the pasta.

[85511 rows x 5 columns]

In [4]:
df = df.rename(columns = {"Description": "caption"}) 
print(df.head())

        VideoID  Start  End Language  \
18  mv89psg6zh4     33   46  English
19  mv89psg6zh4     33   46  English
20  mv89psg6zh4     33   46  English
21  mv89psg6zh4     33   46  English
22  mv89psg6zh4     33   46  English

                                              caption
18  A bird in a sink keeps getting under the runni...
19                       A bird is bathing in a sink.
20  A bird is splashing around under a running fau...
21                       A bird is bathing in a sink.
22  A bird is standing in a sink drinking water th...

In [5]:
df['video_id']=df['VideoID'].astype(str)+'_'+df['Start'].astype(str)+'_'+df['End'].astype(str)
df = df[['video_id','caption']]
print(df.head())

             video_id                                            caption
18  mv89psg6zh4_33_46  A bird in a sink keeps getting under the runni...
19  mv89psg6zh4_33_46                       A bird is bathing in a sink.
20  mv89psg6zh4_33_46  A bird is splashing around under a running fau...
21  mv89psg6zh4_33_46                       A bird is bathing in a sink.
22  mv89psg6zh4_33_46  A bird is standing in a sink drinking water th...

In [6]:
print(df)

                 video_id                                            caption
18      mv89psg6zh4_33_46  A bird in a sink keeps getting under the runni...
19      mv89psg6zh4_33_46                       A bird is bathing in a sink.
20      mv89psg6zh4_33_46  A bird is splashing around under a running fau...
21      mv89psg6zh4_33_46                       A bird is bathing in a sink.
22      mv89psg6zh4_33_46  A bird is standing in a sink drinking water th...
...                   ...                                                ...
122597  m7x8uIdg2XU_67_73               Milk being poured to a bowl of pasta
122598  m7x8uIdg2XU_67_73                      the girls are mixing the milk
122599  m7x8uIdg2XU_67_73         The lady added a cream sauce to the pasta.
122600  m7x8uIdg2XU_67_73                       women are cooking her kichen
122601  m7x8uIdg2XU_67_73         The woman is pouring cream over the pasta.

[85511 rows x 2 columns]

In [11]:
s = df.index.to_series().groupby(df['video_id']).apply(lambda x: x.sample(n=1))

In [7]:
canda = df.loc[s]
print(canda)

                   video_id                                           caption
84811      -4wsuPCjDBc_5_15                             A chipmunk is eating.
15942   -7KMZQEsJW4_205_208         A man is stroking a sunflower's seed pod.
58885   -8rBYNP0UKM_194_201                  Birds are diving into the ocean.
41910     -8rBYNP0UKM_50_82                 A whale is swimming in the ocean.
96828   -8y1Q0rA3n8_108_115                          A person cutting a botal
...                     ...                                               ...
101518    zulPFoY64wE_26_33             the person is searching the something
63838   zv2RIbUsnSw_159_162       Two children are sliding down some plastic.
120769  zv2RIbUsnSw_335_341  A woman on a gurney is being pushed into a room.
93081       zxB4dFJhHR8_1_9                        A girl is riding on cycle.
2591       zzit5b_-ukg_5_20               A young boy is using a ski machine.

[2088 rows x 2 columns]

In [8]:
newdf = df.drop(s)

In [9]:
print(newdf)

                 video_id                                            caption
18      mv89psg6zh4_33_46  A bird in a sink keeps getting under the runni...
19      mv89psg6zh4_33_46                       A bird is bathing in a sink.
20      mv89psg6zh4_33_46  A bird is splashing around under a running fau...
21      mv89psg6zh4_33_46                       A bird is bathing in a sink.
22      mv89psg6zh4_33_46  A bird is standing in a sink drinking water th...
...                   ...                                                ...
122597  m7x8uIdg2XU_67_73               Milk being poured to a bowl of pasta
122598  m7x8uIdg2XU_67_73                      the girls are mixing the milk
122599  m7x8uIdg2XU_67_73         The lady added a cream sauce to the pasta.
122600  m7x8uIdg2XU_67_73                       women are cooking her kichen
122601  m7x8uIdg2XU_67_73         The woman is pouring cream over the pasta.

[83423 rows x 2 columns]

In [10]:
canda.to_json (r'C:\Users\Vaidehi\Documents\Major Project\CandidateA.json',orient='records')

In [11]:
sii = newdf.index.to_series().groupby(newdf['video_id']).apply(lambda x: x.sample(n=1))

In [12]:
candb = newdf.loc[sii]
print(candb)

                   video_id                                        caption
84816      -4wsuPCjDBc_5_15  The squirrel ate the peanut out of the shell.
15927   -7KMZQEsJW4_205_208              A man is picking some sunflowers.
58938   -8rBYNP0UKM_194_201                         A BIRD CATCHES A FISH.
41908     -8rBYNP0UKM_50_82                        Blue Planet,Ocean World
96811   -8y1Q0rA3n8_108_115       A man slices a soda bottle with a sword.
...                     ...                                            ...
101497    zulPFoY64wE_26_33                       A man is riding a horse.
63842   zv2RIbUsnSw_159_162                the girls are playing the water
120771  zv2RIbUsnSw_335_341   A woman is riding on an ambulance stretcher.
93034       zxB4dFJhHR8_1_9                 A biker rides along the beach.
2585       zzit5b_-ukg_5_20              A little boy is riding a bicycle.

[2088 rows x 2 columns]

In [13]:
refdf = newdf.drop(sii)

In [14]:
print(refdf)

                 video_id                                            caption
18      mv89psg6zh4_33_46  A bird in a sink keeps getting under the runni...
19      mv89psg6zh4_33_46                       A bird is bathing in a sink.
20      mv89psg6zh4_33_46  A bird is splashing around under a running fau...
21      mv89psg6zh4_33_46                       A bird is bathing in a sink.
22      mv89psg6zh4_33_46  A bird is standing in a sink drinking water th...
...                   ...                                                ...
122597  m7x8uIdg2XU_67_73               Milk being poured to a bowl of pasta
122598  m7x8uIdg2XU_67_73                      the girls are mixing the milk
122599  m7x8uIdg2XU_67_73         The lady added a cream sauce to the pasta.
122600  m7x8uIdg2XU_67_73                       women are cooking her kichen
122601  m7x8uIdg2XU_67_73         The woman is pouring cream over the pasta.

[81335 rows x 2 columns]

In [15]:
candb.to_json (r'C:\Users\Vaidehi\Documents\Major Project\CandidateB.json',orient='records')

In [17]:
refdf.to_json (r'C:\Users\Vaidehi\Documents\Major Project\Referencedf.json',orient='records')